<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Common Proxy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css">
</head>

<body>
<div class="container" style="max-width: 64rem; margin: auto; width: 100%;">
    <div class="row">
        <div class="column">
            <h1>AutoTipTime</h1>
            <form action="/" method="post">
                <fieldset>
                    <label for="password">PassWord</label>
                    <input type="text" name="password" id="password">
                    <input class="button-primary" type="submit" value="GO">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
</script>
</body>

</html>